.momentum-threat.tracker-container .tracker .button-group > div {
    display: inline-block;
}
.momentum-threat.tracker-container .tracker .button-group input {
    width: 130px;
    margin: 0 10px;
}
.momentum-threat.tracker-container .disabled {
    opacity: 0.5;
}
.dune-form input:invalid {
    background-color: rgba(105, 0, 8, 0.6);
}
.dune-form fieldset {
    border: none;
}
.dune-form fieldset h5 {
    margin: 0;
    text-align: center;
}
.dune-form fieldset label {
    margin-left: 1em;
}
.dune-form .dice-pool fieldset label .value,
.dune-form .flexrow label .value{
    float: right;
    opacity: 0.6;
}
.dune-form .focus-list .hidden {
    display: none;
    opacity: 0.6;
    text-align: right;
}
.dune-form .focus-list .hidden.show {
    display: inline;
}
.sheet .dune.house .background {
    margin-right: 1em;
}
.sheet .dune.house .emblems {
    text-align: center;
}
.sheet .dune.house .emblems img {
    max-height: 128px;
    display: block;
    margin: 0 auto;
    height: auto;
    border: none;
}
.sheet header.sheet-header .profile-wrap {
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  width:120px;
  height: 200px;
}
.sheet header.sheet-header img {
  height: initial;
  max-width:100%;
  max-height: 100%;
}
.sheet header.sheet-header img.bigger {
    height: initial;
    min-height: 64px;
    max-height: 256px;
}
.sheet header.sheet-header .header-details .name-row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sheet .dune ul {
    list-style: none;
}
.sheet .dune.house .grid ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5em 1em;
}
.float-right { float: right; }
.sheet .dune h1 .btn {
    float: right;
    margin-top: 1em;
    font-size: 0.5em;
}
.sheet .dune h2 .btn {
    float: right;
    margin-top: 0.5em;
    font-size: 0.66em;
}
.sheet .dune.house .domain .hidden {
    display: none;
}
.sheet .dune.house .flexrow > .second {
    margin-left: 0.5em;
}
.sheet .dune ul {
    padding-left: 0;
}
.sheet .dune .sheet-header { flex: 0; margin-bottom: 0.5em; }
.sheet .dune nav { flex: 0; }
.sheet .dune .sheet-body { flex: 1; }
.sheet .dune .drives ul,
.sheet .dune .skills ul {
    margin: 0;
}
.sheet .dune .second {
    margin-left: 0.5em;
}
.sheet .dune .trait > button, .sheet .dune .asset > button,
.sheet .dune .talent button, .sheet .dune .domain button,
.sheet .dune .ability button, .sheet .dune .enemy button {
    line-height: 16px;
    flex: 0;
}
.sheet .dune .asset > input[type=number] {
    flex: 0;
    width: 48px;
}
.sheet .window-content .dune .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.sheet .dune .biography .editor-content {
    max-width: 32em;
    margin: 0 auto;
    text-align: justify;
}
.dune.talent.limited .description, .dune.talent.limited .rule, .dune.talent.limited .details {
    margin: 0.4em 0.4em;
    text-align: justify;
}
.dune .talents .talent b { white-space: nowrap; }
.dune .talents .talent .description,
.dune.talent.limited .description,
.dune .assets .description {
    font-style: italic;
}
.dune .assets .rule {
    margin-top: 0.25em;
}
.dune .assets .rule b {
    margin-right: 0.1em;
}
.dune.talent.editable .sheet-body {
    margin: 0 10px;
}
.dune .talent .player-note {
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.5;
    white-space: nowrap;
}
.sheet .dune header.sheet-header .soft-lock {
    flex: 0;
}
.sheet .dune textarea {
    border: 1px solid #7a7971;
    border-radius: 3px;
}
.sheet .dune textarea[disabled] {
    border: 0;
}
.sheet .dune.house textarea {
    margin-left: -3px;
}
.dune textarea:disabled { resize: none; }

.sheet .dune .asset input[type="checkbox"] + label::before,
.sheet .dune .trait input[type="checkbox"] + label::before {
    font-family: "Font Awesome 6 Pro", "Font Awesome 5 Free";
    display:inline-block;
    padding: 4px 3px 2px 3px;
    min-width: var(--button-size);
    min-height: var(--button-size);
    text-align: center;
    visibility: visible;
    content:"\f534";/* infinity */
    border: 1px solid #7a7971;
    border-radius: 3px;
    background-color: white;
    font-weight: 900;
}
.sheet .dune .asset input[type="checkbox"]:checked + label::before,
.sheet .dune .trait input[type="checkbox"]:checked + label::before {
    content: "\f254";/* hourglass */
    font-weight: initial;
}
.sheet .dune .asset input[type="checkbox"],
.sheet .dune .trait input[type="checkbox"] {
    display: none;
    visibility: hidden;
    margin: 0 6px 0 2px;
}
.sheet .dune .asset input[type="checkbox"] + label,
.sheet .dune .trait input[type="checkbox"] + label {
    visibility: hidden;
}
.sheet .dune .form-row { height: 26px; }
.sheet .dune-cc { 
  border-image: url("images/char-sheet-border.svg") 30.869% / 50px / 8px round;
}

.sheet .dune-cc .cc-border {
    height: calc(100% + 16px);
    width: 41px;
    margin-top: -8px;
    margin-bottom: -8px;
}
.sheet .dune-cc .cc-border.left {
    float: left;
    margin-left: -8px;
    margin-right: 8px;
}
.sheet .dune-cc .cc-border.right {
    float: right;
    margin-right: -8px;
    margin-left: 8px;
}
.sheet .dune-cc .cc-top {
    background: url("images/cc-top-small.png") no-repeat center;
    height: 75px;
    min-height: 75px;
    width: 465px;
    margin: 0 auto;
    flex-basis: 100%;
}
.window-app .dune-cc .dune.editable {
    height: 100%;
}
b > span.no-b {
    font-weight: normal;
}
.dune-cc .assets input.description[disabled=disabled] {
    background: transparent;
    font-style: italic;
}
.sheet .dune .ability input[readonly=readonly] {
    border: none;
    color: var(--color-text-dark-secondary);
}

form.enemy .flexrow {
    padding-top: 0.5em;
}

.field-contenteditable[contenteditable="true"] {
  cursor: text;
}

.experience {
  margin: .5rem 1.5rem 1rem 8px;
}
.sheet-tabs .item {
  font-family: var(--font-serif);
  text-transform: uppercase;
  font-weight: bold;
}

.ability {
  margin-bottom: .125rem;
  align-items: center;
}
.experience label,
.ability label,
.background label,
.ability-scores .ability-score-headers h2,
.traits h2,
.talents h2,
.assets h2,
.background h2,
.biography h2 {
  text-transform: uppercase;
  font-family: var(--font-serif);
  font-weight: bold;
  text-align: right;
  margin-right: .5rem;
  min-width: calc(50% - 3.1rem);
}
.experience label,
.ability-scores .ability-score-headers h2,
.traits h2,
.talents h2,
.assets h2,
.background h2,
.biography h2 {
  text-align: center;
}
.background label {
  max-width: 5rem;
  min-width: auto;
  flex: 1;
}
.background input {
  flex: 4;
}
.ability .abilty-score {
  flex: 0 0 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.25rem;
  background: url("images/ability-number-bg.svg");
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
}
.ability .abilty-drive-statement,
.ability .abilty-skill-focuses {
  border: 1px solid rgba(0, 0, 0, .5);
  padding: .125rem;
  margin-left:.125rem;
  font-size: .9em;
  min-height:2.5rem;
  display: flex;
  align-items: center;
}

.ability button.roller {
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border-color: transparent;
  border-radius: 50%;
  margin: 0 .25rem;
  transition: all .4s ease-out;
  font-size: 1.35rem;
  padding: 0 .5rem;
}
.ability button.roller span.fas {
  transition: all .4s ease-out;
}
.ability button.roller:hover {
  border-color: #bebebe;
}
.ability button.roller:hover span.fas {
  transform:rotate(360deg);
}
.assets {
  margin-bottom:2rem;
}
.asset {
  margin-bottom:.125rem;
}
.asset .asset-img {
  width: 1.5rem;
  flex: 0;
  margin-right: .25rem;
}